<!--Intro and service-->
<div id="intro" class="section scrollspy bg_color">
    <div class="container ">
        <div class="row ">
            <div class="col s12 m4 l4 ">
                <div class="center promo promo-example ">
                    <img class="responsive-img" src="assets/ic1.png">
                    <h5 class="promo-caption ">Moderne technieken</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Er is heel wat veranderd in de wondere wereld van het web de afgelopen jaren. Websites en applicaties moeten content op een specifieke </p>
                </div>
            </div>
            <div class="col s12 m4 l4 ">
                <div class="center promo promo-example ">
                    <img class="responsive-img" src="assets/ic3.png">
                    <h5 class="promo-caption ">Gebruikersgericht</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Lekker gebruikersgericht</p>
                </div>
            </div>
            <div class="col s12 m4 l4 ">

                <div class="center promo promo-example ">
                    <img class="responsive-img" src="assets/ic2.png">
                    <h5 class="promo-caption ">All in 1</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Front End + Back end</p>
                </div>
            </div>
        </div>
    </div>
</div>