<ul id='dropdown1' class='dropdown-content'>
    <li style="background-color: orange" class="white-text">NL</li>
    <li style="background-color: blue" class="white-text">EN</li>
</ul>
<ul id='dropdown1mob' class='dropdown-content'>
    <li style="background-color: orange" class="white-text">NL</li>
    <li style="background-color: blue" class="white-text">EN</li>
</ul>
<nav>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" class="brand-logo"><img style="height:67px" src="assets/logo.png"></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">Over</a></li>
                        <li><a href="#work">Werk</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a class='dropdown-button droppie' data-activates='dropdown1'><b>-</b></a></li>
                    </ul>

                    <ul id="nav-mobile" class="side-nav white">
                        <li><a href="#intro">Over</a></li>
                        <li><a href="#work">Werk</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a class='dropdown-button droppie' data-activates='dropdown1mob'><b>-</b></a></li>
                    </ul>
                    <a data-activates="nav-mobile" class="button-collapse black-text"> <i class="material-icons">input</i></a>
                </div>
            </div>
        </nav>
    </div>

</nav>





<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/ban3.png">
            <!-- random image -->
            <div class="caption left-align">
                <h4>Web</h4>
                <h5 class="light grey-text text-lighten-3">development <br>&<br>design</h5>
            </div>
        </li>
        <li>
            <img src="assets/ban3.png">
            <!-- random image -->
            <div class="caption left-align">
                <h4>Web</h4>
                <h5 class="light grey-text text-lighten-3">development <br>&<br>design</h5>
            </div>
        </li>
    </ul>
</div>




<!--Intro and service-->
<div id="intro" class="section scrollspy bg_color">
    <div class="container ">
        <div class="row ">
            <div class="col s12 m8 l8 ">
                <div class="card cyan darken-3 ">
                    <div class="card-content white-text ">
                        <span class="card-title ">Welkom, </span>
                        <p>buhblablabluh</p>
                    </div>
                    <div class="card-action white ">
                        <a href="#contact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4 ">
                <ul class="collection with-header">
                    <li class="collection-header black white-text">
                        <h6>Wat kan ik voor u betekenen?</h6>
                    </li>
                    <li class="collection-item "><i class="material-icons small" style="color:#00838f">code</i> Webdevelopment</li>
                    <li class="collection-item "><i class="material-icons small" style="color:#00838f">web</i> Ontwerp</li>
                    <li class="collection-item "><i class="material-icons small" style="color:#00838f">movie</i> Animaties</li>
                    <li class="collection-item "><i class="material-icons small" style="color:#00838f">games</i> Games (HTML5)</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!--Intro and service-->
<div id="intro" class="section scrollspy bg_color">
    <div class="container ">
        <div class="row ">
            <div class="col s12 m4 l4 ">
                <div class="center promo promo-example ">
                    <i class="mdi-image-flash-on "></i>
                    <h5 class="promo-caption ">Moderne technieken</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Er is heel wat veranderd in de wondere wereld van het web de afgelopen jaren. Websites en applicaties moeten content op een specifieke </p>
                </div>
            </div>
            <div class="col s12 m4 l4 ">
                <div class="center promo promo-example ">
                    <i class="mdi-social-group "></i>
                    <h5 class="promo-caption ">Gebruikersgericht</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Lekker gebruikersgericht</p>
                </div>
            </div>
            <div class="col s12 m4 l4 ">
                <div class="center promo promo-example ">
                    <i class="mdi-hardware-desktop-windows "></i>
                    <h5 class="promo-caption ">All in 1</h5>
                    <div class="divider blue darken-4 "></div>
                    <p class="light center ">Front End + Back end</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Work-->
<div class="section scrollspy bg_color" id="work">
    <div class="container ">
        <h2 class="header default_color_text ">Work </h2>
        <div class="row ">


            <div class="col s12 m4 l4" *ngFor="let work of workArray">
                <div class="card ">
                    <div (click)="showWork() " class="card-image waves-effect waves-block waves-light ">
                        <img src="assets/colpick2.png ">
                    </div>
                    <div class="card-content ">
                        <span (click)="showWork() " class="card-title grey-text text-darken-4 ">Project Title <i class="mdi-navigation-more-vert right "></i></span>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li *ngFor="let work of workArray | paginate: { itemsPerPage: 1, currentPage: p }"> ... </li>
        </ul>

        <div class="center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende"></pagination-controls>
        </div>
    </div>
</div>


<div class="section scrollspy bg_color" id="asdsadas">
    <div class="container ">
        <div class="row ">
            <div class="col s2 "></div>
            <div class="col s10 ">
                <h4>FAQ</h4>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header "><i class="material-icons ">filter_drama</i>Wat is je toolset?</div>
                        <div class="collapsible-body "><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><i class="material-icons ">filter_drama</i>Werk je alleen?</div>
                        <div class="collapsible-body "><span>Jup, als bedrijf ben ik een one-man-army.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><i class="material-icons ">place</i>Ontwikkel je ook Wordpress?</div>
                        <div class="collapsible-body "><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header "><i class="material-icons ">whatshot</i>Ik denk dat we samen kunnen werken!</div>
                        <div class="collapsible-body "><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>






<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <form class="col s12 " action="contact.php " method="post ">
                    <div class="row ">

                        <div class="input-field col s12 ">
                            <i class="mdi-editor-mode-edit prefix white-text "></i>
                            <textarea id="icon_prefix2 " name="message " class="materialize-textarea white-text "></textarea>
                            <label for="icon_prefix2 " class="white-text ">Message</label>
                        </div>
                        <div class="col offset-s7 s5 ">
                            <button class="btn waves-effect waves-light green darken-1 " type="submit ">Submit
                                <i class="mdi-content-send right white-text "></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12 ">
                <h5 class="white-text ">EDease.nl</h5>
            </div>
            <div class="col l3 s12 ">
                <h5 class="white-text ">Social</h5>

            </div>
        </div>
    </div>
    <div class="footer-copyright default_color ">
        <div class="container ">
            Jup
        </div>
    </div>
</footer>