

<!-- <ul id='dropdown1' class='dropdown-content black'>
  <li>
    <img src="assets/langNL.GIF">
  </li>
  <li>
    <img src="assets/langEN.GIF">
    <br>Not yet available, coming soon</li>
</ul>
<ul id='dropdown1mob' class='dropdown-content'>
  <li>
    <img src="assets/langNL.GIF">
  </li>
  <li>
    <img src="assets/langEN.GIF">
    <br>Not yet available, coming soon</li>
</ul> -->



<nav>
  <div class="navbar-fixed">
    <nav class="third_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#intro">Over</a>
            </li>
            <li>
              <a href="#work">Werk</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li>
              <a routerLink="/blog">Blog</a>
            </li>
            <!-- <li>
              <a class='dropdown-button' data-activates='dropdown1'>
                <img style="padding-top:15px" src="assets/langNL.GIF">
              </a>
            </li> -->
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="assets/screen.png">
                </div>
                <a >
                  <img class="circle" src="assets/screen.png">
                </a>
                <a href="#!name">
                  <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                  <span class="white-text email">jdandturk@gmail.com</span>
                </a>
              </div>
            </li>
            <li>
              <a class="black-text" href="#intro">Over</a>
            </li>
            <li>
              <a class="black-text" href="#work">Werk</a>
            </li>
            <li>
              <a class="black-text" href="#contact">Contact</a>
            </li>
           <!--  <li>
              <a class='dropdown-button droppie' style="background-color:black" data-activates='dropdown1mob'>
                <b>Language</b>
              </a>
            </li> -->
          </ul>
          <a data-activates="nav-mobile" class="button-collapse left">
            <i class="material-icons">input</i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</nav>




<div class="z-depth-1">
  <div class="headd" style="background-color: #0277bd;margin-bottom:0px;padding-bottom:10px">

    <div class="container">
      <img class="responsive-img" src="assets/banner.png">
    </div>



  </div>

</div>
<div class="z-depth-1" >
  <div class="headd" style="padding-top:15px;padding-bottom:30px;">
    
    <h5>Webdevelopment & Design</h5>
    <br><br><br>
    <div class="container">
      <div class="row" >

        <div class="col s12 m6 l3">
          <i class="material-icons medium" style="color:#0277bd">code</i>
          <br>Webdevelopment</div>
        <div class="col s12 m6 l3">
          <i class="material-icons medium" style="color:#0277bd">web</i>
          <br>Ontwerp/Drukwerk</div>
        <div class="col s12 m6 l3">
          <i class="material-icons medium" style="color:#0277bd">movie</i>
          <br>Animaties</div>
        <div class="col s12 m6 l3">
          <i class="material-icons medium" style="color:#0277bd">games</i>
          <br>Games (HTML5)</div>
        
      </div>
    </div>


  </div>
</div>





<div class="bg"></div>
<!--Intro and service-->
<div id="intro" class="section scrollspy bg_color">

  <div class="container ">
    <div class="row ">
 
      <div class="col s12 m9 l9 ">
        <div class="card ">
                
          <div class="card-content ">
            <span class="card-title">
              Welkom,
            </span>
            <p>op website van zelfstandig
              <b>programmeur</b>/
              <b>designer</b> Eddie Maas. Ik heb al jaren ervaring met het ontwikkelen voor content voor voornamelijk het web.</p>
              <br><br>
              
            </div>
          


          <div class="card-action third_color">
            <a style="color:#FFD25E" href="#contact">Contact</a>
          </div>
        </div>

      </div>
      <div class="col s12 m3 l3 ">

          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/fill.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Wie?<i class="material-icons right">more_vert</i></span>
                
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Aha!<i class="material-icons right">close</i></span>
                <img class="responsive-img"  src="assets/ed.jpg">
              </div>
            </div>


         </div>
     

    </div>
  </div>
</div>


<div style="margin-bottom:0px;padding-bottom:10px;padding-top:20px;min-height:200px">
  <div class="container" style="padding-top:15px;padding-bottom:15px;">
    <div class="row">
      <div class="col s12 m6 l6">
              <h3 style="color: #0277bd">Maatwerk</h3>
              <p>Elk product is een compleet op maat voor uw specifieke doeleinden.</p>
             </div>
      <div class="col s12 m6 l6 center">
        <img class="responsive-img"  src="assets/office.png">
      </div>

    </div>
    <div class="row">
      <div class="col s12 m6 l6 center">
        <img class="responsive-img"  src="assets/resp.png">
      </div>
      <div class="col s12 m6 l6">
              <h3 style="color: #0277bd" >Frisse techniek</h3>
              <p>Met de sites/apps die geleverd worden kun je jaren vooruit. Natuurlijk is alles super-responsive, zodat het op alle apparaten goed te bekijken is.</p>
            </div>

    </div>

  
  </div>


</div>



<!-- 
   <div class="row center" style="padding-top:20px">
 <img class="responsive-img" src="assets/easeB.png">
 </div> -->

<!--Work-->
<div class="section scrollspy" style="background-color: #0277bd" id="work">
  <div class="container center">
    <h2 class="header white-text">Werk </h2>







    <div class="row">
      <div *ngFor="let work of workArray| paginate: { itemsPerPage: 6, currentPage: p } ;let i = index " class="col s12 m4 l4">
        <div class="card">
          <div (click)="showWork(i)" [ngStyle]="{'background-image': 'url(' + work.cover + ')'}" style="height:200px;background-size:cover"
            class="card-image waves-effect waves-block waves-light ">

          </div>

          <div (click)="showWork(i)">
            <span class="card-title grey-text text-darken-4 ">{{work.title}}
              <i class="mdi-navigation-more-vert right "></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende"></pagination-controls>
    </div>
  </div>
</div>

<div class="z-depth-1 headd">
  


  <div class="section scrollspy"  id="asdsadas">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>FAQ</h4>
          <ul class="collapsible popout " data-collapsible="accordion">
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>Wat is je toolset?</div>
              <div class="collapsible-body white">
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>Werk je alleen?</div>
              <div class="collapsible-body white">
                <span>Jup, als bedrijf ben ik een one-man-army.</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">place</i>Ontwikkel je ook Wordpress?</div>
              <div class="collapsible-body white">
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">whatshot</i>Ik denk dat we samen kunnen werken!</div>
              <div class="collapsible-body white">
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--Footer-->
  <footer id="contact" class="scrollspy" style="background-color:#0277bd">
    <div class="container">
      <div class="row ">
        <h2 class="header">Contact </h2>
        <div class="col l6 s12 ">
          <form class="col s12">
            <div class="row center">
                <h6 class="white-text"site.component.ts>Klik voor mail</h6>
                <A HREF="mailto:eddie@edease.nl"> <i class="large material-icons white-text">contact_mail</i></A>
            </div>
          </form>
        </div>
        <div class="col l3 s12 left">
                <div class="row left">
                        
                          
                          <p class="grey-text text-lighten-4"><b>KvK Nummer:</b> 58764852 </p>
                          <p class="grey-text text-lighten-4"><b>BTW:</b> 198710161B01</p>
                          <p class="grey-text text-lighten-4"><b>Email:</b> eddie@edease.nl</p>
                          <p class="grey-text text-lighten-4"><b>Tel:</b> 06-13095856</p>




                        
                        <div class="col l4 offset-l2 s12">
                           
                            
                            
                            
                             
                            
                            
                          <ul>
                            
                          </ul>
                        </div>
                      </div>


        </div>
        <div class="col l3 s12 ">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright default_color ">
      <div class="container ">
        Jup
      </div>
    </div>
  </footer>
