<!-- <ul id='dropdown1' class='dropdown-content black'>
  <li>
    <img src="assets/langNL.GIF">
  </li>
  <li>
    <img src="assets/langEN.GIF">
    <br>Not yet available, coming soon</li>
</ul>
<ul id='dropdown1mob' class='dropdown-content'>
  <li>
    <img src="assets/langNL.GIF">
  </li>
  <li>
    <img src="assets/langEN.GIF">
    <br>Not yet available, coming soon</li>
</ul> -->


 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-content">
    <app-work></app-work>
   </div>
   <div class="modal-footer">
     <a class="modal-action modal-close waves-effect waves-green btn-flat">Sluit</a>
   </div>
 </div>





<nav>
  <div class="navbar-fixed">
    <nav class="third_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#intro">Over</a>
            </li>
            <li>
              <a href="#work">Werk</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <!-- <li>
              <a routerLink="/blog">Blog</a>
            </li> -->
            <!-- <li>
              <a class='dropdown-button' data-activates='dropdown1'>
                <img style="padding-top:15px" src="assets/langNL.GIF">
              </a>
            </li> -->
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="assets/screen.png">
                </div>
                <a>
                  <img class="circle" src="assets/screen.png">
                </a>
                <a >
                  <span class="white-text name">EDease</span>
                </a>
                <a>
                  <span class="white-text email">eddie@edease.nl</span>
                </a>
              </div>
            </li>
            <li>
              <a class="black-text" href="#intro">Over</a>
            </li>
            <li>
              <a class="black-text" href="#work">Werk</a>
            </li>
            <li>
              <a class="black-text" href="#contact">Contact</a>
            </li>
          </ul>
          <a data-activates="nav-mobile" class="button-collapse left">
            <i class="material-icons">input</i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</nav>




<div class="z-depth-1">
  <div class="headd" style="background-color: #039be5;margin-bottom:0px;padding-bottom:10px">

   
  </div>

</div>







<!--Intro and service-->
<div  >
  <div class="headd edgradient" style="padding-bottom:30px;background-color: #039be5">
      
    
    <br>
    <div class="container">
        <br><br>
        <img class="responsive-img" src="assets/logo1.png" style="max-width: 200px">
      <br><br><br>
      <h5>Webdevelopment & Design</h5><br><br>
    </div>


  </div>

</div>
<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 L50 100 L100 0 Z" />
</svg>





<div class="container" >
<br><br><br>
  <div class="row" >
      
    <div class="col s12 m5 l5">
      <div class="flow-text" id="intro" class="scrollspy">
        <h5>Welkom op EDease.nl</h5>
        <p>Als interaction developer help ik bedrijven met het bedenken, ontwerpen en realiseren van multimediaoplossingen.<br><br> Dit varieert van het maken van een animatie, tot het realiseren van een applicatie.  Deze brede inzetbaarheid is mijn kracht als zzp-er.<br><br>Neem gerust <a href="#contact">contact</a> op als je denkt dat we iets voor elkaar kunnen betekenen.</p>
          <br><br>
        <br>
      </div>
    </div>
    <div class="col s12 m1 l1">

    </div>
    <div class="col s12 m6 l6">

        <img class="responsive-img" src="assets/banner.png">

      </div>


  </div>


    
  <nav style="border-radius: 10px">
    <div class="nav-wrapper third_color"  style="border-radius: 10px">
      <a  class="brand-logo center">Diensten</a>
    </div>
  </nav>
  <div class="center" >
    <div class="row">
        <br><br>
      
      
      <div class="col s6 m3 l3 ">
        <br>
        <i class="material-icons medium" style="color:#039be5">code</i>
        <br>Webdevelopment</div>
      <div class="col s6 m3 l3">
        <br>
        <i class="material-icons medium" style="color:#039be5">web</i>
        <br>Ontwerp/Drukwerk</div>
      <div class="col s6 m3 l3">
        <br>
        <i class="material-icons medium" style="color:#039be5">movie</i>
        <br>Animaties</div>
      <div class="col s6 m3 l3 ">
        <br>
        <i class="material-icons medium" style="color:#039be5">games</i>
        <br>Games (HTML5)</div>
    </div>
    <br><br>
    <br>
  </div>



</div>





<div style="background-color: #0d47a1">
  <div class="container white-text flow-text">
    <div class="row">
        <br><br>
      <br>
      <div class="col s12 m7 l7">
        <h5 class="white-text ">Maatwerk</h5>
        <p>Het wereld wijde web is veel veranderd de afgelopen tijd. Ik heb al vele jaren ervaring met alles wat zich afspeelt op het web, en pas de nieuwste en laatste technieken toe in mijn werk. De sites/applicaties die ik codeer kunnen op elk device worden bekeken en zijn razendsnel. Als developer ontwikkel ik full-stack. Dat wil zeggen dat ik zowel de front-end als de back-end kan verzorgen. Compleet zelfstandig, of ik kan meedraaien in een team.</p>
      </div>
      <div class="col s12 m5 l5 center">
        <img class="responsive-img" src="assets/office.png">
      </div>
    </div>
    <br><br>
  </div>
</div>
<svg id="bigTriangleColor3" xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 L50 100 L100 0 Z" />
</svg>


<div>
  <div class="container flow-text">
    <div class="row"><br>
      <div class="col s12 m4 l4 center">
        <img class="responsive-img" src="assets/resp.png">
      </div>
      <div class="col s12 m8 l8">
          <br><br><br>
        <h5 style="color:#0d47a1">Oplossingsgericht</h5>
        <p>Ik denk graag mee over oplossingen waar bedrijven tegenaan lopen. Gebruiksvriendelijkheid staat daarmee bij mij hoog in het vaandel. Geen poespas dus, de eindgebruiker staat centraal. Qua ontwerp houd ik alles het liefst lekker modern en strak. Verder is het een kwestie van de juiste tools gebruiken voor ieder project, en ik ben niet bang om iets nieuws te leren mocht ik iets nog niet kennen.</p>
      </div><br><br>

    </div><br>


  </div>

</div>
<svg id="bigTriangleColor2" xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 L50 100 L100 0 Z" />
</svg>






<!-- 
   <div class="row center" style="padding-top:20px">
 <img class="responsive-img" src="assets/easeB.png">
 </div> -->

<!--Work-->
<div class="section scrollspy" style="background-color: #0d47a1" id="work">
  <div class="container center">
    <br><br><br>
    
    <p class="or-divider">Werk</p>
   






    <div class="row">
      <div *ngFor="let work of workArray| paginate: { itemsPerPage: 6, currentPage: p } ;let i = index " class="col s12 m4 l4">
        <div class="card">
          <div (click)="showWork(i)" [ngStyle]="{'background-image': 'url(' + work.cover + ')'}" style="height:200px;background-size:cover"
            class="card-image waves-effect waves-block waves-light ">

          </div>

          <div (click)="showWork(i)">
            <span class="card-title grey-text text-darken-4 ">{{work.title}}
              <i class="mdi-navigation-more-vert right "></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="center white-text">
      <pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende"></pagination-controls>
    </div>
    <br>
    <br>
  </div><br><br>
</div>






  <div class="section scrollspy" id="asdsadas" >
    <div class="container">
      <div class="row" >
        <div class="col s12 m4 ">
            <img class="responsive-img" src="assets/faq.png">
           
          
         
        </div>
        <div class="col s12 m8">
            <h5 class="center">FAQ</h5>
          <ul class="collapsible popout " data-collapsible="accordion">
              <li>
              <div class="collapsible-header ">
                <i class="material-icons">build</i>Wat is je toolset?</div>
              <div class="collapsible-body white">
                <span>Ik heb een licentie op <b>Adobe Cloud CC</b>, en kan ik al jaren overweg met programma's zoals Photoshop, Illustrator, Indesign en After Effects. <br><br>Voor webdevelopment maak ik veelal gebruik van <b>Angular</b> voor de front-end. Hiermee maak ik een SPA (Single Page Application) die razendsnel in alle browsers werkt. Ontwikkeling verloopt via NODEJS. Voor back-end werk (bijvoorbeeld het schrijven van een API) maak ik vooral gebruik van PHP en MySQL. </span>
                <img class="responsive-img" src="assets/toolset.png">
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">list</i>Werkzaamheden op een rijtje?</div>
              <div class="collapsible-body white ">
                <span>
                  Onderstaand een opsomming van de werkzaamheden die het voor mij het meeste voorkomen. Staat er niet bij wat u zoekt? Neem even <a href="#contact">contact</a> op om uw wens kenbaar te maken.<br>
                  <h5>Techniek</h5>
                  <ul class="browser-default">
                    <li>Website of webapplicatie ontwikkeling</li>
                    <li>Html5 Games ontwikkeling</li>
                    <li>CMS systeem</li>
                    <li>API verzorgen</li>
                    <li>Databasesstructuur verzorgen</li>
                    <li>Koppelingen tussen systemen realiseren</li>
                    <li>Animaties op het web</li>
                  </ul>

                  <h5>Ontwerp</h5>
                  <ul class="browser-default">
                    <li>Drukwerk opmaken (bv brochure, folders etc)</li>
                    <li>Animatievideo's</li>
                    <li>Logo + huisstijl</li>
                    <li>Video-edit werk</li>
                  </ul>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons ">person</i>Werk je alleen?</div>
              <div class="collapsible-body white">
                <span>Als bedrijf ben ik een one-man-army. Maar ik werk heel graag samen met andere, samen sta je immers sterker.</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header ">
                <i class="material-icons">highlight_off</i>Ontwikkel je ook Wordpress?</div>
              <div class="collapsible-body white">
                <span>Nee. Dat heb ik vroeger wel gedaan, maar die tijd is voorbij. Het is nog steeds een prima platform voor degene die het gebruiken maar zelf kies toch voor moderne SPA development.</span>
              </div>
            </li>
            <li>
                <div class="collapsible-header ">
                  <i class="material-icons">code</i>Source code?</div>
                <div class="collapsible-body white">
                  <span>Bij mij heeft u altijd recht op de source code van de applicatie. Dit in verband met dat een andere developer er gemakkelijk bij kan. Ik werk ook heel graag met een Open Source mentaliteit.</span>
                </div>
              </li>
         
            
          </ul>
        </div>
      </div>
    </div>
  </div>

  <svg id="bigTriangleColor4" xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 L50 100 L100 0 Z" />
  </svg>

  <!--Footer-->
  <footer id="contact" class="scrollspy" style="background-color:#0d47a1">
    <br><br>
    <div class="container">
      <div class="row ">
        <br>
        <p class="or-divider">Contact</p>
        <br>
        <div class="col l6 s12 ">
          <form class="col s12">
            <div class="row center">
                <A HREF="mailto:eddie@edease.nl">
              <h6 class="white-text" site.component.ts>Klik voor mail</h6>
              
                <i class="large material-icons white-text">contact_mail</i>
              </A>
            </div>
          </form>
        </div>
        <div class="col l3 s12 left" style="text-align:left !important">
          <div class="row left">


            <p class="grey-text text-lighten-4">
              <b>Email:</b> eddie@edease.nl</p>
            <p class="grey-text text-lighten-4">
              <b>Tel:</b> 06-13095856</p>

              <p class="grey-text text-lighten-4">
                  <b>KvK Nummer:</b> 58764852 </p>
              
            <div class="col l4 offset-l2 s12">


            </div>
          </div>


        </div>
        <div class="col l3 s12 ">
          <ul>
            <li>
              <a class="grey-text text-lighten-3" target="_blanc" href="https://github.com/eddieedease"><img src="assets/githublogo.png" width=75 class="img-fluid" alt="Responsive image"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="footer-copyright bg_color_blue">
      <div class="container white-text">
        © EDease 2018
      </div>
    </div>
  </footer>
