/* Custom Stylesheet */


/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.first_color {
    background-color: #f6f6f5 !important
}

.second_color {
    background-color: #101626 !important
}

.third_color {
    background-color: #00acab!important
}

.fourth_color {
    background-color: #7c9d95 !important
}

.bg_color {
    background-color: #eee !important
}

.default_color_text {
    color: #fff !important
}

.icon-block {
    padding: 0 15px;
}

#index-banner {
    max-height: 864px;
    position: relative;
    background-color: #F0F0F0;
}

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color: white;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 3px;
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}

.span_h2 {
    font-weight: 250;
    color: #006064;
}

.text_b {
    color: #2196F3;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important;
}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}

.card-content a {
    color: #2196F3;
}

.card-content a:hover {
    color: #2196F3;
}

.text_pink {
    color: #EF9A9A;
}

.card .card-image img {
    max-height: 180px;
}

nav ul a {
    font-size: 1rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* change if the mask should have another color then white */
    z-index: 1200;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.introslider {}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

@media only screen and (max-width: 800px) {
    .introslider {
        height: 150px;
    }
}

input,
textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
    font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}

.modal {
    width: 90%;
    max-height:95% !important;
    min-height: 300px;
}

.modal.modal-fixed-footer{
    width: 90%;
    height:95% !important;
    max-height:95% !important;
    min-height: 300px;
}