
<div id="about"  class="card section scrollspy">
  


  <div class="card-content" >

    <div class="row" >
    
      
      <div class="col s12 m12 l5">
        <div>
            <p>Projectnavigatie:</p>
            <a (click)="cycleWork('prev')" class="btn-flat white-text  waves-effect waves-light blue lighten-2">
              <=</a>
                <a (click)="cycleWork('next')" class="btn-flat white-text waves-effect waves-light blue lighten-2">=></a><br><br>
          </div>
        <span class="card-title">Project</span>
       
            <div class="section">
              <p [innerHTML]="workContentText">
              </p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <b>Web Developer - Graphic Artist - User Experience Designer</b>
            </div>
            

            <br><br>
            
      </div>
      <div class="col s12 m12 l5">
        <div class="container" style="color:black !impotant"> <ngx-gallery [options]="galleryOptions"  [images]="galleryImages"></ngx-gallery></div>
       
      </div>

    </div>

  </div>
</div>
