<div id="about" class="card section scrollspy">
  <a routerLink="/site" class="waves-effect waves-light btn">Terug</a>


  <div class="card-content">

    <div class="row">
      <div class="col m2">
        <p>Projectnavigatie:</p>
        <a (click)="cycleWork('prev')" class="btn-flat btn-large white-text waves-effect waves-light teal">
          <=</a>
            <a (click)="cycleWork('next')" class="btn-flat white-text btn-large waves-effect waves-light teal">=></a>

      </div>
      <div class="col s12 m10">
        <span class="card-title grey-text text-darken-4">Project</span>
       
            <div class="section">
              <p class="flow-text">
                {{workContentText}}
              </p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <b>Web Developer - Graphic Artist - User Experience Designer</b>
            </div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

            <br><br>
            
      </div>

    </div>

  </div>
</div>
