/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: #01579b !important}

.second_color{background-color: #F0F0F0  !important}

.default_color_text{color: #01579b !important}

.icon-block {
    padding: 0 15px;
}



#index-banner {
    
    max-height: 864px;
    position: relative;
    background-color: #F0F0F0;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 3px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}


.text_pink{color:#EF9A9A;}

.card .card-image img{
    max-height: 180px;
}

nav ul a {
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}




/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}

