<!-- Navbar -->
<nav class="navbar blue ">
  <div class="container center">
      <a routerLink="/site">Terug naar site</a>
  </div>
</nav>


<div class="title-transition section white valign-wrapper">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-title fade-transition">
      <h1>Supersecret Bloggie</h1>
      <span class="date">Dec 05, 2017</span>
    </div>
  </div>
</div>

<div class="section white full-height">
  <div class="row valign">
    <div class="col s8 offset-s2 m6 offset-m3 blog-body">
      <h4>Hoofdstart</h4>

      <p>
        Wat een mooie plek voor een blog. Tenminste als er iets instaat. Wat tot nu toe nog niet is, dus je hoeft ook eigenlijk niet verder te lezen. Je kunt dat wel doen maar ik raad het je niet aan. Komt alleen maar onzin, bagger.</p>



      <img class="responsive-img" src="https://s17.postimg.org/e6vlgojof/355_H.jpg" alt="">

      <p>
        Irony lomo viral, listicle swag lo-fi blue bottle everyday carry bushwick echo park freegan austin. Flannel shabby chic vice,
        kinfolk small batch man bun intelligentsia try-hard hoodie skateboard 90's beard. Hoodie etsy poutine whatever, roof
        party tote bag kombucha four dollar toast mixtape banjo normcore thundercats ramps art party.</p>

    </div>

  


  </div>
</div>
